@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h5 {
    font-family: 'Tenada', sans-serif;
}

.table_bar {
    font-family: 'Tenada', sans-serif;
}

/*테이플 css*/
table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

th {
    text-align: center;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #906D3B	;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
    border-bottom-color: #8B4513;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
}

a {
    color: #73685d;
}
