@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
a {
    color: #73685d;
}

h5 {
    font-family: 'Tenada', sans-serif;
}

.table_bar {
    font-family: 'Tenada', sans-serif;
}

/*버튼 css*/
a.button {
    display: block;
    position: relative;
    float: right;
    width: 120px;
    padding: 0;
    margin: 10px 20px 0 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
}

.btnOrange {
    background: #FFAA40;
}

.btnOrange.btnPush {
    box-shadow: 0px 5px 0px 0px #A66615;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnOrange.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #A66615;
}

.btnGray {
    background: #b8b8b8;
}

.btnGray.btnPush {
    box-shadow: 0px 5px 0px 0px #73685d;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnGray.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #73685d;
}


/*테이블 css*/

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

th {
    text-align: center;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #906D3B	;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
    border-bottom-color: #8B4513;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
}
