{% extends 'user/../base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/detail_posting.css" %}">
{% endblock %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card" style="background-color: #FDF5E6;
             border-radius: 100px 100px 20px 20px; padding: 20px; border: #D7873C solid 3px">
                    <div class="card-body">
                        <div class="media">
                            <div>
                                <div style="margin-left: 30px">
                                    <a href="/posting-list/{{ post.posting_category }}"
                                       style="text-decoration: none">{{ post.posting_category }}
                                    </a>
                                    <h3><b>{{ post.posting_title }}</b></h3>
                                </div>
                                <div>
                                    <hr>
                                    {% if user.is_authenticated %}

                                        {#------------------------북마크 블록------------------------#}
                                        {% if user.is_authenticated %}
                                            {% if not bookmark %}
                                                <div style="display: inline-block;
                                                            float:right; margin: auto auto 10px 30px;">
                                                    <a href="/save-bookmark/{{ post.id }}"
                                                       style="text-decoration: none"
                                                       title="Button push orange"
                                                       class="button btnPush btnOrange">
                                                        쿠키담기</a>
                                                </div>
                                            {% else %}
                                                <div style="display: inline-block; float:right;
                                                margin: auto auto 30px 30px; font-size: 40px">
                                                    <a href="/save-bookmark/{{ post.id }}"
                                                       style="text-decoration: none"
                                                       title="Button push orange"
                                                       class="button btnPush btnOrange">
                                                        🍪</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {#------------------------영상 블록------------------------#}
                                    {% if post.posting_video %}
                                        <div>
                                            관련 링크:
                                            <a href="{{ post.posting_video }}"
                                               target="_blank">{{ post.posting_video }}</a>
                                        </div>
                                    {% endif %}
                                    {#------------------------영상 블록 끝------------------------#}
                                    <h6>---내용---<br></h6>
                                    <div>
                                        {{ post.posting_content }}
                                        <hr>
                                    </div>
                                </div>
                                {% if post.posting_img %}
                                    <br>
                                    <div style="text-align: center">
                                        <div style="display:inline-block; width: 100%; height: 100%;">
                                            <img style="display: inline-block" width="70%" height="70%"
                                                 src="{{ post.posting_img.url }}">
                                        </div>
                                    </div>
                                {% endif %}
                                <br>
                            </div>
                            <div>
                                {#------------------------수정 블록------------------------#}
                                {% if user == post.posting_author %}
                                    <div style="display: inline-block;
                                float:right;">
                                        <a href="/edit-posting/{{ post.id }}" style="text-decoration: none"
                                           title="Button push orange"
                                           class="button btnPush btnOrange">
                                            수정</a>
                                    </div>

                                    {#------------------------수정 블록 끝------------------------#}
                                    <!-- Button trigger modal -->
                                    <div style="display: inline-block;
                                float:right;">
                                        <a href="/save-bookmark/{{ post.id }}" style="text-decoration: none"
                                           title="Button push orange"
                                           class="button btnPush btnRed" data-bs-toggle="modal"
                                           data-bs-target="#exampleModal">
                                            삭제</a>
                                    </div>
                                {% endif %}
                                {#------------------------삭제 블록------------------------#}
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="card" style="background-color: #FDF5E6;
             border-radius: 20px; padding: 20px; border: #D7873C solid 3px">
                        <div class="card-body">
                            <div class="media">
                                <form action="/detail-posting/{{ post.id }}" method="post">
                                    {% csrf_token %}
                                    {{ form.comment }}
                                    {#                                    <input class="form-control" type="text" name="comment" placeholder="댓글작성칸">#}
                                    <img src="{% static "img/choco.png" %}" width="100px" height="100px">
                                    <button type="submit" class="w-btn w-btn-brown"
                                            style="float:right; margin-top: 30px;">
                                        댓글달기
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card" style="background-color: #FDF5E6;
             border-radius: 20px 20px; padding: 20px; border: #D7873C solid 3px">
                    {% for co in page_obj %}
                        <div class="card-body">
                            <div class="media" style="padding: 20px">
                                <div>
                                    <div style="float: left">
                                        <h5>{{ co.comment }}</h5>
                                    </div>
                                    <br><br>
                                    <div style="float: left">
                                        <h5 style="font-size: 15px">작성자 : {{ co.author }}</h5>
                                    </div>
                                    {% if user == co.author %}
                                        <div style="float: right; margin-left: 30px">
                                            <a href="/delete-comment/{{ co.id }}" style="text-decoration: none"
                                               data-bs-toggle="modal" data-bs-target="#exampleModal_de_{{ co.id }}">
                                                삭제</a>
                                        </div>
                                        <div style="float: right;">
                                            <a href="/edit-comment/{{ co.id }}" style="text-decoration: none"
                                               data-bs-toggle="modal" data-bs-target="#exampleModal_co_{{ co.id }}">
                                                수정</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!-- 댓글 수정Modal -->
                        {% comment %}모달의 id뒤에 comment의 id값을 지정해 각자의 모달을 생성{% endcomment %}
                        <div class="modal fade " id="exampleModal_co_{{ co.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            쿠키 멘트 수정</h5>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/edit-comment/{{ co.id }}" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input name="comment" type="text" class="form-control"
                                                   placeholder="{{ co.comment }}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">취소하기
                                            </button>
                                            <button type="submit" class="btn btn-primary" style="float: right">
                                                멘트 수정
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- 댓글 삭제Modal -->
                        <div class="modal fade " id="exampleModal_de_{{ co.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            쿠키 멘트 폐기</h5>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        삭제한 후에는 복구가 불가능합니다. 삭제하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">취소하기
                                        </button>
                                        <button onclick="location.href='/delete-comment/{{ co.id }}'"
                                                type="button" class="btn btn-primary"
                                                style="float: right">쿠키 폐기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if page_obj.has_other_pages %}
                        <div style="text-align: center">
                            <li style="margin: 3px; list-style: none;">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}"
                                       style="text-decoration: none;">&#10094; 이전</a>
                                {% endif %}
                                {% for page in custom_range %}
                                    {% if page == page_obj.number %}
                                        <a href="?page={{ page }}"
                                           style="text-decoration: none;color: red;">{{ page }}</a>
                                    {% else %}
                                        <a href="?page={{ page }}"
                                           style="text-decoration: none;">{{ page }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"
                                       style="text-decoration: none;">&#10095; 다음</a>
                                {% endif %}
                            </li>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        쿠키 폐기 동의서</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    삭제한 후에는 복구가 불가능합니다. 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">취소하기
                    </button>
                    <button onclick="location.href='/delete-posting/{{ post.id }}'"
                            type="button" class="btn btn-primary"
                            style="float: right">쿠키 폐기
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}