{% extends 'user/../base.html' %}
{% block title %}
    Posting
{% endblock %}

{% block content %}
    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <!-- 글을 작성 하는 곳 -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0"> -게시글 작성- </h5>
                                <p>
                                <form class="form-area" action="/save-posting/" method="post" enctype="multipart/form-data">
                                    <div id="board_box">
                                        {% csrf_token %}

                                        <ul id="board_form">
                                            카테고리 : <br>
                                            {{ posting_form.posting_category }}
                                            <br><br>
                                            제목 :
                                            {{ posting_form.posting_title }}
                                            <br>
                                            이미지 :
                                            {{ posting_form.posting_img }}
                                            <br>
                                            영상 :
                                            {{ posting_form.posting_video }}
                                            <br>
                                            내용 :
                                            {{ posting_form.posting_content }}
{#                                            제목 :#}
{#                                            <input class="form-control" name="posting_title" type="text" placeholder="제목">#}
{#                                            <br>#}
{#                                            이미지 :#}
{#                                            <input type="file" class="form-control" name="posting_img" id="posting_img">#}
{#                                            <br>#}
{#                                            영상 :#}
{#                                            <input class="form-control" type="text" placeholder="URL">#}
{#                                            <br>#}
{#                                            내용 :#}
{#                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}

                                            <ul class="buttons"><br><br>
                                                <button type="submit">완료</button>
                                                <button type="button"
                                                        onclick="location.href='/'">
                                                    목록
                                                </button>
                                            </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}