{% extends 'user/../base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block title %}
    Posting
{% endblock %}

{% block content %}
    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <!-- 글을 작성 하는 곳 -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card" style="background-color: #FDF5E6;
             border-radius: 100px 100px 20px 20px">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div style="text-align: center">
                                    <div style="display: inline-block; margin-top: 30px">
                                        <h5 class="mt-0"> 🍪게시글 작성🍪 </h5>
                                    </div>
                                </div>
                                <p>
                                <form id="post_form" class="form-area" action="/save-posting/" method="post"
                                      enctype="multipart/form-data">
                                    <div id="board_box">
                                        {% csrf_token %}

                                        <div id="board_form" style="padding: 30px">
                                            카테고리 : <br>
                                            {{ posting_form.posting_category }}
                                            <br><br>
                                            제목 :
                                            {{ posting_form.posting_title }}
                                            <br>
                                            이미지 :
                                            {{ posting_form.posting_img }}
                                            <br>
                                            영상 :
                                            {{ posting_form.posting_video }}
                                            <br>
                                            내용 :
                                            {{ posting_form.posting_content }}
                                            <ul class="buttons"><br><br>

                                                <a type="submit"
                                                   role="button"
                                                   style="text-decoration: none"
                                                   title="Button push orange"
                                                   class="button btnPush btnOrange"
                                                   onclick="document.getElementById('post_form').submit();">완료</a>
                                                <a type="submit" href="/" style="text-decoration: none"
                                                   title="Button push orange"
                                                   class="button btnPush btnGrey">목록</a><br>
                                            </ul>
                                            </li>
                                        </div>
                                    </div>
                                </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    {% comment %} 푸터추가 {% endcomment %}
  <footer id="footer" class="footer">
    <div class="container">
      <address class="copyright company">
        <div class="copyright-content company-info">
          <h3 class="copyright-title mobile">
            <b>(주) 쿠키뉴스🍪</b>
          </h3>
          <span>만든이</span>
          <span>미영쿠키, 경진쿠키, 서연쿠키, 지수쿠키</span>
        </div>
      </address>
    </div>
  </footer>
  
{% endblock %}