{% extends 'base.html' %}
{% block title %}
    쿠키홈
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        {#                        <h5 class="card-title">{{ user.username }}</h5>#}
                        {#                        <a href="/profile/{{ user.id }}" style="text-decoration: none">프로필</a>#}
                    </div>
                </div>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0"> -최근 게시글- </h5>
                                        <p>
                                            {% if user.is_authenticated %}
                                            <button type="button" class="btn btn-primary"
                                                    onclick="location.href='/save-posting'"
                                                    style="float:right; margin-top: 30px; ">글작성
                                            </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <table id="table" class="table" style="text-align: center; width: 100%">
                                        <thead>
                                        <tr>
                                            <th>카테고리</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}