{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block title %}
  쿠키홈
{% endblock %}

{% block content %}
  <!-- 오른 쪽 컬럼-->
  <div class="col-md-7">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card" style="background-color: #ffe0b2;
                border-radius: 100px 100px 20px 20px; border: #B86824 solid 3px">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <div style="text-align: center">
                  <div style="display: inline-block; margin-bottom: 30px;">
                    <h5 style="font-size: 30px;" class="mt-0">
                      🍞최근 게시글🍞
                    </h5>
                    {# 최근 게시글은 카테고리 상관없이 모든 포스트에서 최근 10개만 띄워 보여주는 걸로 #}
                  </div>
                </div>
                <div>
                  <div style="display: inline-block; float: left;
                                    position: relative;bottom: 20px;">
                    <img src="{% static "img/bread.png" %}" style="width: 100px; height: 100px">
                  </div>
                  <div style="display: inline-block; float: right;">
                    {% if user.is_authenticated %}
                      <a href="/save-posting/" style="text-decoration: none" title="Button push orange" class="button btnPush btnOrange">
                        쿠키 굽기</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <table id="table" class="table">
                <thead>
                  <tr class="table_bar">
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>조회수</th>
                    <th>썸네일</th>
                  </tr>
                </thead>
                <tbody>
                  {% for po in page_obj %}
                    <tr style="vertical-align: middle; background-color: #FDF5E6">
                      <th>{{ po.posting_category }}</th>
                      <th>
                        <a href="/detail-posting/{{ po.id }}" style="text-decoration: none">
                          {{ po.posting_title|truncatechars:10 }}</a>
                      </th>
                      <th>{{ po.posting_author.username }}</th>
                      <th>{{ po.posting_views }}</th>
                      <th>
                        <div style="width: 50px;height: 50px;border-radius: 100%;
                                            overflow-y: auto; display: inline-block">
                          {% if po.posting_img %}
                            <a href="/detail-posting/{{ po.id }}" style="text-decoration: none">
                              <img class="image-thumbnail" src="{{ po.posting_img.url }}" width="100%" height="100%">

                            </a>
                          {% else %}
                            <a href="/detail-posting/{{ po.id }}">
                              <img src="{% static 'img/basic_img.png' %}" width="100%" height="100%">
                            </a>
                          {% endif %}
                        </div>
                      </th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if page_obj.has_other_pages %}
                <div style="text-align: center">
                  <li style="margin: 3px; list-style: none;">
                    {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none;">&#10094; 이전</a>
                    {% endif %}
                    {% for page in custom_range %}
                      {% if page == page_obj.number %}
                        <a href="?page={{ page }}" style="text-decoration: none;color: red;">{{ page }}</a>
                      {% else %}
                        <a href="?page={{ page }}" style="text-decoration: none;">{{ page }}</a>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">&#10095; 다음</a>
                    {% endif %}
                  </li>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  {% comment %} 푸터추가 {% endcomment %}
  <footer id="footer" class="footer">
    <div class="container">
      <address class="copyright company">
        <div class="copyright-content company-info">
          <h3 class="copyright-title mobile">
            <b>(주) 쿠키뉴스🍪</b>
          </h3>
          <span>만든이</span>
          <span>미영쿠키, 경진쿠키, 서연쿠키, 지수쿠키</span>
        </div>
      </address>
    </div>
  </footer>

{% endblock %}