{% extends 'user/../base.html' %}
{% load static %}

{% block title %}
    프로필 수정
{% endblock %}
{% block content %}

    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card" style="background-color: #FDF5E6;
             border-radius: 100px 100px 20px 20px">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="container">
                                    <div class="wrap">
                                        <h2 class="title-center">
                                            프로필 수정
                                        </h2>
                                        <form class="form-area" method="post" action="" enctype="multipart/form-data">
                                            <!--이미지를 추가할 땐 form태그에 enctype추가!-->
                                            {% csrf_token %}
                                            {{ form }}
                                            <hr>
                                            <div style="float: right">
                                                <button type="submit" class="btn btn-primary">수정 완료</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% comment %} 푸터추가 {% endcomment %}
  <footer id="footer" class="footer">
    <div class="container">
      <address class="copyright company">
        <div class="copyright-content company-info">
          <h3 class="copyright-title mobile">
            <b>(주) 쿠키뉴스🍪</b>
          </h3>
          <span>만든이</span>
          <span>미영쿠키, 경진쿠키, 서연쿠키, 지수쿠키</span>
        </div>
      </address>
    </div>
  </footer>
  
{% endblock %}
