{% extends 'user/../base.html' %}
{% load static %}

{% block title %}
    프로필 수정
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center">
                프로필 수정
            </h2>
            <form class="form-area" method="post" action="/edit-user" enctype="multipart/form-data">
                <!--이미지를 추가할 땐 form태그에 enctype추가!-->
                {% csrf_token %}
                ID : 아이디 수정 페이지
                {% comment %} {{ form.username }} {% endcomment %}
                <br>
                Email :
                {{ form.email }}
                <br>
                Birth :
                <div class="form-group mt-2 mb-2">
                    <input name="birth" class="form-control" type="date"></div>
                <br>
                Img :
                <input type="file" class="form-control" name="imgUrl" id="imgUrl">
                <br>
                Blog :
                {{ form.blog }}
                <br>
                Comment :
                {{ form.comment }}
                <br>
                Password :
                {{ form.password }}
                <br>
                Password2 :
                <input name="password2" class="form-control" type="password" placeholder="Password_check">
                <hr>

                <div style="float: right">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                    <a href="edit-user" class="btn btn-secondary">로그인 페이지로</a>
                </div>
            </form>

        </div>
    </div>
  </div>
{% endblock %}

{% comment %} 해피^^ {% endcomment %}

