{% extends 'base.html' %}
{% block title %}
    cookie프로필
{% endblock %}

{% block content %}
    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <!-- 글을 작성 하는 곳 -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body" style="text-align:center">
                                {% comment %} <div class="row mb-2">
                                    이름 :
                                    {{ user.username }}
                                    <br>
                                    {% if user.imgUrl %}
                                        프로필 사진
                                        <br>
                                        <img class="image-control" src="{{ user.imgUrl.url }}">
                                    {% endif %}
                                    <br>
                                    생일 :
                                    {{ user.birth.date }}
                                    <br>
                                    이메일 :
                                    {{ user.email }}
                                    <br>
                                    블로그 주소 :
                                    <a href="{{ user.blog }}" target="_blank">
                                        {{ user.blog }}</a>
                                    <br>
                                    소개글 :
                                    {{ user.comment }}
                                    <br>
                                </div> {% endcomment %}
                                {% if user.imgUrl %}
                                        <br>
                                        <img class="image-control" src="{{ user.imgUrl.url }}" width="80%">
                                    {% endif %}
                                <div align = "center">
                                <table id="table" class="table" style="text-align: center; width: 70%">
                                    <tbody>
                                    <tr class="table_bar">
                                        <th>이름</th>
                                        <th>{{ user.username }}</th> </tr>
                                    <tr class="table_bar">
                                        <th>생일</th>
                                        <th>{{ user.birth.date }}</th> </tr>
                                    <tr class="table_bar">
                                        <th>이메일</th>
                                        <th>{{ user.email }}</th> </tr>
                                    <tr class="table_bar">
                                        <th>블로그 주소</th>
                                        <th><a href="{{ user.blog }}" target="_blank">
                                            {{ user.blog }}</a></th> </tr>
                                    <tr class="table_bar">
                                        <th>소개글</th>
                                        <th>{{ user.comment }}</th> </tr>
                                    </tbody>
                                </div>

                                </table>
                            </div>
                        </div>
                        
                        <a href="/edit-user/" style="text-decoration: none">프로필 수정</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" style="float: right">
                            탈퇴
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">쿠키 폐기 동의서</h5>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        쿠키뉴스를 떠나면 복구가 불가능합니다. 그래도 가시나요../_\?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">취소하기
                                        </button>
                                        <button onclick="location.href='/delete-user/'"
                                                type="button" class="btn btn-primary"
                                                style="float: right">쿠키폐기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% comment %} 푸터추가 {% endcomment %}
  <footer id="footer" class="footer">
    <div class="container">
      <address class="copyright company">
        <div class="copyright-content company-info">
          <h3 class="copyright-title mobile">
            <b>(주) 쿠키뉴스🍪</b>
          </h3>
          <span>만든이</span>
          <span>미영쿠키, 경진쿠키, 서연쿠키, 지수쿠키</span>
        </div>
      </address>
    </div>
  </footer>
{% endblock %}
