{% extends 'base.html' %}

{% block title %}
  회원가입
{% endblock %}
{% block content %}
  <div class="container">
    <div class="wrap">
      <h2 class="title-center">
        회원가입
      </h2>
      <form class="form-area" method="post" action="/sign-up/">
        {% csrf_token %}
        ID :
        {{ form.username }}
        <br>
        Email :
        {{ form.email }}
        <br>
        Birth :
        <input name="birth" type="date">
        <br>
        Img :
        {{ form.imgUrl }}
        <br>
        Blog :
        {{ form.blog }}
        <br>
        Comment :
        {{ form.comment }}
        <br>
        Password :
        {{ form.password }}
        <br>

        <input name="password2" type="text" placeholder="password_check">
        <hr>

        <div style="float: right">
          <button type="submit" class="btn btn-primary">회원가입</button>
          <a href="/sign-in" class="btn btn-secondary">로그인 페이지로</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}

{% comment %} 해피^^ {% endcomment %}