{% extends 'user/../base.html' %}

{% block title %}
    로그인
{% endblock %}
{% block content %}
    <!-- 오른 쪽 컬럼-->
    <div class="col-md-7">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="container">
                                    <div class="wrap">
                                        <h2 class="title-center">
                                            로그인</h2>
                                        <form class="form-area" action="/sign-in/" method="post">
                                            {% csrf_token %}
                                            <div>
                                                <label>사용자 이름</label>
                                                <input type="text" class="form-control" id="username" name="username">
                                            </div>
                                            <div style="margin-bottom: 30px">
                                                <label>비밀번호</label>
                                                <input type="password" class="form-control" id="password"
                                                       name="password">
                                            </div>
                                            <a href="/sign-up" style="text-decoration: none">회원가입이 필요하십니까?</a>
                                            <div style="float: right; margin-bottom: 30px">
                                                <button type="submit" class="btn btn-primary">로그인</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    {% comment %} 푸터추가 {% endcomment %}
  <footer id="footer" class="footer">
    <div class="container">
      <address class="copyright company">
        <div class="copyright-content company-info">
          <h3 class="copyright-title mobile">
            <b>(주) 쿠키뉴스🍪</b>
          </h3>
          <span>만든이</span>
          <span>미영쿠키, 경진쿠키, 서연쿠키, 지수쿠키</span>
        </div>
      </address>
    </div>
  </footer>

{% endblock %}
